@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(1rem, 5vw, 5rem);
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.block_one .blockitem_one .board .links a:hover {
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(17%)
    hue-rotate(4deg) brightness(106%) contrast(100%);
  cursor: pointer;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10rem;
}

.block_one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.block_one .blockitem_one {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.65);
  padding-bottom: 180px;
}

.block_one .blockitem_one .board {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 3rem;
}

.block_one .blockitem_one .info {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.block_one .blockitem_one .align {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.block_one .blockitem_one .align p {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.block_one .blockitem_one .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-height: 4.6rem;
  height: auto;
  background-color: white;
  padding-left: 1rem;
  position: relative;
}

.align a {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 0;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  display: flex;
  align-items: center;
  height: auto;
  padding: clamp(0.5rem, 3vw, 1.8rem) 15px;
  text-decoration: none;
  color: #333;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.2rem, 2vw, 1rem);
  border-radius: 0;
  transition: 0.3s;
}

.nav a:hover {
  background: #3fa9ff;
  color: white;
}

button {
  border: none;
  width: clamp(5rem, 10vw, 8rem);
  height: 3rem;
  background-color: rgba(61, 178, 255, 0.8);
  color: white;
  margin: 0.5rem;
  cursor: pointer;
}

.block_one .blockitem_two {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  gap: 2rem;
}

.menu-icon {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(61, 178, 255, 0.8);
  padding: 0.5rem;
}

.menu-icon .line {
  width: 25px;
  height: 3px;
  background: white;
  margin: 3px 0;
  transition: 0.3s;
}

.menu {
  background: white;
  border-radius: 8px;
  padding: 0.5rem;
}

.menu .nav {
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.menu .nav a {
  padding: 0.1rem;
  width: 100%;
  font-size: clamp(0.2rem, 3vw, 0.7rem);
  text-align: left;
}

.menu .nav a:hover {
  background: #3fa9ff;
  color: white;
}

.blockitem_three {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hands {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
}

.blockitem_three p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 0.8);
  text-align: start;
}

.blockitem_three .hand img {
  width: 75px;
  height: 52px;
}

.blockitem_three .hand h4 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0%;
}

.blockitem_three .hand {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 300px;
  gap: 2rem;
}

.blockitem_three .hand .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blockitem_three .box .inputs #name {
  border-bottom: 2px solid white;
}

.blockitem_three .box .inputs #adress {
  border-bottom: 2px solid white;
}

.blockitem_three .box .inputs #phone {
  border-bottom: 2px solid white;
}

.blockitem_three .box .inputs #service {
  border-bottom: 2px solid white;
}

.blockitem_three .box input {
  width: 250px;
  height: 70px;
  outline: none;
  background-color: rgb(92, 190, 255);
  text-align: start;
  color: white;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.blockitem_three .box .inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.blockitem_three .box #service {
  width: 250px;
  height: 70px;
  outline: none;
  background-color: rgb(92, 190, 255);
  text-align: start;
  color: white;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.6);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  background-color: #fff;
  background-image: url(icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 15px;
  cursor: pointer;
}

.box {
  width: 700px;
  height: auto;
  background-color: rgba(61, 178, 255, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-120px);
  gap: 1rem;
  padding: 2rem 0;
}

#message {
  margin-top: 0.5rem;
}

.blockitem_three .box button {
  width: 10rem;
  height: 3rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(61, 178, 255, 1);
}

.block_two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.block_two .blockitem_one {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.block_two .blockitem_one .board .vid {
  max-width: clamp(320px, 45vw, 500px);
  width: 100%;
  height: 510px;
  background-color: rgba(196, 196, 196, 1);
}

.block_two .blockitem_one .board .video {
  max-width: clamp(320px, 45vw, 500px);
  width: 100%;
  height: 510px;
  background-color: rgb(233, 231, 231);
  transform: translateX(200px) translateY(-350px);
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(200px, -350px);
  transition:
    transform 0.8s ease,
    width 0.8s ease,
    height 0.8s ease;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block_two .blockitem_one .board .video .play {
  background-color: rgba(61, 178, 255, 1);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.block_two .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(30px, 1.2vw, 47px);
  color: black;
  text-align: start;
}

.block_two .blockitem_one .info {
  display: flex;
  flex-direction: column;
  max-width: clamp(280px, 35vw, 900px);
  flex-shrink: 1;
  text-align: flex-start;
  gap: 4rem;
}

.block_two .blockitem_one .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_two .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: clamp(22px, 2vw, 30px);
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 1);
  text-align: start;
}

.block_two .blockitem_one .info .marks {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
}

.block_two .blockitem_one .info .mark {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  color: rgba(110, 110, 110, 1);
}

.block_two .blockitem_one .info .gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block_two .blockitem_one .info .marks .img {
  width: 20px;
  height: 23px;
}

.block_two .blockitem_one .info .details p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.block_two .blockitem_one .info .details {
  background-color: rgb(233, 231, 231);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  border-left: 10px solid rgba(61, 178, 255, 1);
}

.block_two .blockitem_two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.65);
  height: 405px;
  width: 100%;
}

.block_two .blockitem_two .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: clamp(30px, 1.2vw, 47px);
  text-align: start;
}

.block_two .blockitem_two .info {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  text-align: flex-start;
  gap: 1rem;
}

.block_two .blockitem_two .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_two .blockitem_two .info .num {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0%;
}

.block_two .blockitem_two .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 1.2vw, 20px);
  line-height: clamp(22px, 2vw, 30px);
  letter-spacing: 0%;
  color: rgb(148, 147, 147);
  text-align: start;
}

.block_two .blockitem_two .gap {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.block_two .blockitem_two .contain {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.block_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.block_three .blockitem_one {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.block_three .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 1.2vw, 20px);
  line-height: clamp(22px, 2vw, 30px);
  letter-spacing: 0%;
  color: rgb(148, 147, 147);
  text-align: center;
}

.block_three .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: clamp(30px, 1.2vw, 47px);
  color: black;
}

.block_three .blockitem_one .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.block_three .blockitem_one .info span {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_three .blockitem_two {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.block_three .blockitem_two .boxe h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0%;
  color: black;
  text-align: center;
}

.block_three .blockitem_two .boxe p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(110, 110, 110, 0.6);
}

.block_three .blockitem_two .boxe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: clamp(260px, 28vw, 450px);
  height: clamp(260px, 22vw, 350px);
  border: 3px solid rgba(61, 178, 255, 1);
  gap: 2rem;
}

.block_three .blockitem_two .boxe:hover {
  background-color: rgba(61, 178, 255, 1);
}

.block_three .blockitem_two .boxe img {
  filter: brightness(0) saturate(100%) invert(63%) sepia(64%) saturate(1880%)
    hue-rotate(176deg) brightness(102%) contrast(92%);
}

.block_three .blockitem_two .boxe:hover p,
.block_three .blockitem_two .boxe:hover h1,
.block_three .blockitem_two .boxe:hover h2,
.block_three .blockitem_two .boxe:hover h3 {
  color: white;
}

.block_three .blockitem_two .boxe:hover img {
  filter: brightness(0) saturate(100%) invert(73%) sepia(82%) saturate(480%)
    hue-rotate(5deg) brightness(95%) contrast(92%);
}

.block_three .blockitem_two .box-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.block_three .blockitem_two .box-group .bb {
  display: flex;
  gap: 2.5rem;
}

.block_three .blockitem_two .box-group .bbb {
  display: flex;
  justify-content: center;
  width: 85%;
}

.block_three .blockitem_three {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.map-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
}

.map-container #mapp {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.spot {
  position: absolute;
  width: 4%;
  height: 8%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(61, 178, 255, 1);
}

.spot img {
  width: 50%;
  height: 50%;
}

.spotone {
  top: 23%;
  left: 13.7%;
}

.spottwo {
  top: 73%;
  left: 23.8%;
}
.spotthree {
  top: 48%;
  left: 50.8%;
}

.spotfour {
  top: 20%;
  left: 64.3%;
}

.spotfive {
  top: 70%;
  left: 87%;
}

.spot-popup {
  position: absolute;
  display: none;
  background: #111;
  color: #fff;
  padding: clamp(6px, 1vw, 12px) clamp(8px, 1.5vw, 16px);
  border-radius: 10px;
  width: clamp(120px, 15vw, 200px);
  font-size: clamp(12px, 1vw, 15px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spot-popup h4 {
  margin: 0 0 4px 0;
  font-weight: bold;
}

.spot-popup p {
  margin: 0;
}

.block_three .blockitem_four {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.block_three .blockitem_four .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 1;
  text-align: flex-start;
  gap: 2rem;
}

.block_three .blockitem_four .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_three .blockitem_four .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 1);
  text-align: start;
}

.block_three .blockitem_four .info .marks {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
}

.block_three .blockitem_four .info .mark {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  color: rgba(110, 110, 110, 1);
}

.block_three .blockitem_four .info .gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block_three .blockitem_four .info .marks .img {
  width: 20px;
  height: 23px;
}

.block_three .blockitem_four .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0%;
  color: black;
  text-align: start;
}

.block_three .blockitem_four .info .buts {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.block_three .blockitem_four .info .player {
  background-color: rgba(61, 178, 255, 1);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.block_three .blockitem_four .info .player img {
  width: 15px;
  height: 15px;
}

.block_three .blockitem_four .trophy {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.block_three .blockitem_four .rectangle {
  background-color: rgba(61, 178, 255, 1);
  width: clamp(320px, 100%, 800px);
  padding: clamp(1rem, 3vw, 2rem);
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.block_three .blockitem_four .rectangle h4 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(16px, 1vw, 25px);
  line-height: 35px;
  letter-spacing: 0%;
  color: white;
  text-align: start;
}

.block_three .blockitem_four .rectangle p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  line-height: 30px;
  letter-spacing: 0%;
  text-align: start;
}

.block_four {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.block_four .blockitem_one {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.block_four .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 1.2vw, 20px);
  line-height: clamp(22px, 2vw, 30px);
  letter-spacing: 0%;
  color: rgb(148, 147, 147);
  text-align: center;
}

.block_four .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: clamp(30px, 1.2vw, 47px);
  color: black;
}

.block_four .blockitem_one .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.block_four .blockitem_one .info span {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_four .blockitem_two {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.block_four .blockitem_two .boxe h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0%;
  color: black;
  text-align: start;
}

.block_four .blockitem_two .boxe p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: start;
  color: rgba(110, 110, 110, 0.6);
}

.block_four .blockitem_two .boxe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: clamp(260px, 28vw, 450px);
  height: 700px;
  border: 3px solid rgba(61, 178, 255, 1);
  padding-left: 2rem;
  transition: all 0.3s ease;
}

.block_four .blockitem_two .boxe#dif {
  height: 760px;
  margin-top: -30px;
  background-color: rgba(61, 178, 255, 1);
  color: white;
  height: 760px;
  transform: translateY(0);
  transform: translatex(0);
  position: relative;
}

.block_four .blockitem_two .boxe#dif img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(42deg) brightness(102%) contrast(104%);
}

.block_four .blockitem_two .boxe .xmark {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(4089%)
    hue-rotate(63deg) brightness(116%) contrast(52%);
}

.block_four .blockitem_two .boxe img {
  filter: brightness(0) saturate(100%) invert(63%) sepia(64%) saturate(1880%)
    hue-rotate(176deg) brightness(102%) contrast(92%);
}

.block_four .blockitem_two .boxe#dif p,
.block_four .blockitem_two .boxe#dif h1,
.block_four .blockitem_two .boxe#dif h2,
.block_four .blockitem_two .boxe#dif h3 {
  color: white;
}

.block_four .blockitem_two .box-group {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2.5rem;
}

.block_four .blockitem_two .box-group .bb {
  display: flex;
  gap: 2.5rem;
}

.block_four .blockitem_two .box-group .bbb {
  display: flex;
  justify-content: center;
  width: 100%;
}

.block_four .blockitem_two .boxe .num {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0%;
}

.block_four .blockitem_two .boxe#dif .num {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0%;
}

.block_four .blockitem_two .boxe#dif .mark {
  color: white;
}

.block_four .blockitem_two .boxe#dif span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: white;
}

.block_four .blockitem_two .boxe#dif button {
  width: 10rem;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(61, 178, 255, 1);
}

.block_four .blockitem_two .boxe button {
  width: 10rem;
  height: 3rem;
  background-color: rgba(61, 178, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
  margin-bottom: 1rem;
}

.block_four .blockitem_two .boxe span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_four .blockitem_two .boxe .marks {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
}

.block_four .blockitem_two .boxe .mark {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  color: rgba(110, 110, 110, 1);
}

.block_four .blockitem_two .boxe .xmark {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  color: rgba(110, 110, 110, 1);
}

.block_four .blockitem_two .boxe .gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: calc(100% + 80px);
  margin-left: -10px;
  padding: 24px 0;
}

.block_four .blockitem_two .marks .boxe .img {
  width: 20px;
  height: 23px;
}

.block_five .blockitem_one .video {
  width: clamp(300px, 40vw, 600px);
  height: clamp(200px, 50vh, 700px);
  background-color: rgb(233, 231, 231);
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(calc(1vw)) translateY(-100px);
  transition:
    transform 0.8s ease,
    width 0.8s ease,
    height 0.8s ease;
}

.block_five .blockitem_one .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block_five .blockitem_one .video .play2 {
  background-color: rgba(61, 178, 255, 1);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.block_five {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.65);
}

.block_five .blockitem_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.block_five .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(40px, 1.2vw, 50px);
  color: white;
  text-align: start;
}

.block_five .blockitem_one .info {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  text-align: flex-start;
  width: clamp(10px, 45vw, 900px);
}

.block_five .blockitem_one .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_five .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(17px, 1.2vw, 20px);
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 1);
  text-align: start;
}

.block_five .blockitem_one .details {
  display: flex;
  flex-direction: column;
}

.block_five .blockitem_one .details .low {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 90%;
}

.block_five .blockitem_one .details .low .blue {
  width: 500px;
  height: 30px;
  background-color: rgba(61, 178, 255, 1);
}

.block_five .blockitem_one .details .high {
  max-width: 90%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.block_five .blockitem_one .details .high .blue {
  width: 650px;
  height: 30px;
  background-color: rgba(61, 178, 255, 1);
}

.block_five .blockitem_one .details .ss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.block_five .blockitem_one .details .ss h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(61, 178, 255, 1);
}

.block_five .blockitem_one .details .ss p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(61, 178, 255, 1);
}

.block_six {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_six .blockitem_one {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.block_six .blockitem_one .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.block_six .blockitem_one .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_six .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 1);
}

.block_six .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0%;
  color: black;
}

.block_six .blockitem_one .slider {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.block_six .blockitem_one .stars {
  color: orange;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.block_six .blockitem_one .testimonial-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
}

.block_six .blockitem_one .card {
  flex: 0 0 auto;
  width: clamp(280px, 45%, 600px);
  height: 358px;
  background: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
}

.block_six .blockitem_one .card-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.block_six .blockitem_one .photo-placeholder {
  width: 60px;
  height: 60px;
  background: #e0e0e0;
}

.block_six .blockitem_one .name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.block_six .blockitem_one .name {
  font-weight: bold;
  font-size: 1rem;
  color: #222;
}

.block_six .blockitem_one .tagline {
  font-size: 0.6rem;
  color: #66b3ff;
}

.block_six .blockitem_one .pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.block_six .blockitem_one .square {
  width: 14px;
  height: 14px;
  background: #ccc;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.block_six .blockitem_one .square.active {
  background: orange;
}

.block_seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.block_seven .blockitem_one {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.block_seven .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0%;
  color: black;
  text-align: start;
}

.block_seven .blockitem_one .info h4 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0%;
  color: rgba(45, 45, 45, 1);
}

.block_seven .blockitem_one .info .re {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block_seven .blockitem_one .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 1;
  text-align: flex-start;
  gap: 2rem;
}

.block_seven .blockitem_one .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_seven .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 1);
  text-align: start;
}

.block_seven .blockitem_one .info .marks {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
}

.block_seven .blockitem_one .info .mark {
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 2rem;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  color: rgba(110, 110, 110, 1);
}

.block_seven .blockitem_one .info .gap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.block_seven .blockitem_one .trophy {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.block_seven .blockitem_one .rectangle {
  background-color: rgba(61, 178, 255, 1);
  width: clamp(450px, 100%, 800px);
  padding: clamp(1rem, 3vw, 2rem);
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.block_seven .blockitem_one .rectangle h4 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(16px, 1vw, 25px);
  line-height: 35px;
  letter-spacing: 0%;
  color: white;
  text-align: start;
}

.block_seven .blockitem_one .rectangle p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  line-height: 30px;
  letter-spacing: 0%;
  text-align: start;
}

.block_seven .blockitem_one .box input {
  width: 250px;
  height: 70px;
  outline: none;
  background-color: rgb(92, 190, 255);
  text-align: start;
  color: white;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.block_seven .blockitem_one .box .inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.block_seven .blockitem_one .box .inputs #name {
  border-bottom: 2px solid white;
}

.block_seven .blockitem_one .box .inputs #lastname {
  border-bottom: 2px solid white;
}

.block_seven .blockitem_one .box .inputs #email {
  border-bottom: 2px solid white;
}

.block_seven .blockitem_one .box .inputs #subject {
  border-bottom: 2px solid white;
}

.block_seven .blockitem_one .inp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

.block_seven .blockitem_one .inputs input {
  flex: 1;
  min-width: 100px;
}

.block_seven .blockitem_one .inputs {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin-left: 6rem;
}

.block_seven .blockitem_one .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: rgba(61, 178, 255, 1);
  border: 1px solid black;
}

.block_seven .blockitem_one #message {
  margin-top: 0.5rem;
}

.block_seven .blockitem_one .box button {
  width: 10rem;
  height: 3rem;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(61, 178, 255, 1);
}

.box .btn {
  display: flex;
  justify-content: start;
  padding-left: 3.3rem;
  width: 100%;
}

.block_seven .blockitem_one .box .inputs #type {
  width: 530px;
  height: 150px;
  border-bottom: 2px solid white;
}

.block_seven .blockitem_one .box .info {
  width: 100%;
  flex-shrink: 1;
  text-align: flex-start;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.block_seven .blockitem_one .box .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: white;
  padding-left: 3.3rem;
}

.block_seven .blockitem_one .box .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: white;
  text-align: start;
  padding-left: 3.3rem;
}

.block_seven .blockitem_one .box .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0%;
  color: white;
  text-align: start;
  padding-left: 3.3rem;
}

@media (max-width: 1024px) {
  .block_one {
    width: 100%;
  }

  .block_two .blockitem_two .gap {
    display: flex;
    flex-direction: column;
  }

  .block_one .blockitem_one .about {
    width: 90%;
    padding-left: 0.5rem;
  }

  .block_one .blockitem_two {
    width: 70%;
    margin-top: 8rem;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.95rem;
  }

  .blockitem_three {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .box {
    width: 100%;
    transform: translateY(-80px);
  }

  .blockitem_three .box button {
    margin: 0;
  }

  .hands {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .block_two .blockitem_one {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .block_two .blockitem_one .board .vid {
    max-width: 500px;
    width: 100%;
    height: 370px;
  }

  .block_two .blockitem_one .board .video {
    max-width: 500px;
    width: 100%;
    height: 370px;
    transform: translateX(250px) translateY(-300px);
  }

  .block_two .blockitem_one .info {
    gap: 2rem;
  }

  .block_two .blockitem_one .info p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(110, 110, 110, 1);
    text-align: start;
  }

  .block_two .blockitem_one .info .mark {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    font-weight: 400;
    font-size: 17px;
    color: rgba(110, 110, 110, 1);
  }

  .block_two .blockitem_one .info {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    flex-shrink: 1;
    text-align: flex-start;
    gap: 4rem;
  }

  .block_two .blockitem_two .info h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: clamp(20px, 1.2vw, 30px);
    text-align: start;
  }

  .block_two .blockitem_two .info {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    gap: 1rem;
    margin-left: 2.5rem;
  }

  .block_two .blockitem_two .info span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 15%;
    color: rgba(61, 178, 255, 1);
  }

  .block_two .blockitem_two .info .num {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0%;
  }

  .block_two .blockitem_two .info p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: clamp(15px, 1.2vw, 20px);
    line-height: clamp(22px, 2vw, 30px);
    letter-spacing: 0%;
    color: rgb(148, 147, 147);
    text-align: start;
  }

  .block_three .blockitem_two .box-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .block_three .blockitem_two {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .block_three .blockitem_two .boxe {
    width: clamp(350px, 40vw, 450px);
    height: clamp(350px, 35vw, 450px);
  }

  .block_three .blockitem_two .box-group .bbb .boxe {
    width: 100%;
    height: clamp(350px, 35vw, 450px);
  }

  .block_three .blockitem_two .boxe h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: Black;
    font-size: clamp(15px, 1.2vw, 25px);
    line-height: 35px;
    letter-spacing: 0%;
    color: black;
    text-align: center;
  }

  .block_three .blockitem_two .boxe p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 1.2vw, 17px);
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(110, 110, 110, 0.6);
  }

  .block_three .blockitem_four {
    flex-direction: column;
  }

  .block_three .blockitem_two .box-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .block_four .blockitem_two .box-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .block_four .blockitem_two .boxe#dif {
    height: clamp(650px, 35vw, 800px);
    width: clamp(200px, 40vw, 450px);
  }

  .block_four .blockitem_two .boxe {
    width: clamp(200px, 40vw, 450px);
    height: clamp(600px, 35vw, 700px);
  }

  .block_four .blockitem_two .box-group .bbb .boxe {
    width: 100%;
    height: clamp(500px, 35vw, 700px);
  }

  .block_four .blockitem_two .boxe h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: Black;
    font-size: clamp(15px, 1.2vw, 25px);
    line-height: 35px;
    letter-spacing: 0%;
    color: black;
    text-align: start;
  }

  .block_four .blockitem_two .boxe p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 1.2vw, 17px);
    line-height: 30px;
    letter-spacing: 0%;
    text-align: start;
    color: rgba(110, 110, 110, 0.6);
  }

  .block_five .blockitem_one {
    flex-direction: column;
    width: 100%;
  }

  .block_five .blockitem_one .video {
    max-width: 500px;
    width: 90%;
    height: 370px;
    transform: translateX(20px) translateY(-50px);
  }

  .block_five .blockitem_one .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
  }

  .block_five .blockitem_one .info span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 15%;
    color: rgba(61, 178, 255, 1);
  }

  .block_five .blockitem_one .details .low {
    max-width: 100%;
    width: 500px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .block_five .blockitem_one .details .low .blue {
    width: 80%;
    height: 30px;
    background-color: rgba(61, 178, 255, 1);
  }

  .block_five .blockitem_one .details .high {
    max-width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .block_five .blockitem_one .details .high .blue {
    width: 90%;
    height: 30px;
    background-color: rgba(61, 178, 255, 1);
  }

  .block_five .blockitem_one .details {
    margin-bottom: 20px;
  }

  .block_six .blockitem_one .testimonial-container {
    justify-content: flex-start;
  }

  .block_six .blockitem_one .card {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }

  .block_seven .blockitem_one {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }

  .block_seven .blockitem_one .info .gap {
    display: flex;
    text-align: center;
    align-items: start;
    width: 80%;
  }

  .block_seven .blockitem_one .info {
    display: flex;
    text-align: center;
    align-items: start;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .block_one .blockitem_one .links {
    display: none;
  }

  .blockitem_three .box .inputs {
    flex-direction: column;
    align-items: center;
  }

  .block_one .blockitem_one .info {
    display: none;
  }

  .block_one {
    width: 100%;
  }
  .block_one .blockitem_two {
    width: 90%;
    margin-top: 5rem;
  }

  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 0.85rem;
    line-height: 24px;
  }

  .nav a {
    padding: 1.5rem 10px;
  }

  .hands {
    flex-direction: column;
    gap: 2rem;
  }

  .block_two .blockitem_one .board .vid {
    max-width: 450px;
    width: 100%;
    height: 370px;
  }

  .block_two .blockitem_one .board .video {
    max-width: 450px;
    width: 100%;
    height: 370px;
    transform: translateX(20px) translateY(-350px);
  }

  .block_two .blockitem_one .info .marks {
    gap: 1rem;
    flex-direction: column;
  }

  .block_two .blockitem_two {
    height: auto;
  }

  .block_two .blockitem_two .contain {
    flex-direction: column;
  }

  .block_two .blockitem_two .info {
    margin-left: 1.5rem;
  }

  .block_three .blockitem_two .box-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  .block_three .blockitem_two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .block_three .blockitem_two .box-group .bb {
    flex-direction: column;
  }

  .block_three .blockitem_two .box-group .bbb .boxe {
    width: clamp(300px, 40vw, 450px);
    height: clamp(300px, 35vw, 400px);
  }

  .block_three .blockitem_two .box-group .bb .boxe {
    width: clamp(300px, 40vw, 450px);
    height: clamp(300px, 35vw, 400px);
  }

  .block_four .blockitem_two .boxe#dif {
    height: clamp(650px, 35vw, 800px);
    width: 100%;
  }

  .block_four .blockitem_two .boxe {
    width: 100%;
    height: clamp(650px, 35vw, 800px);
  }

  .block_four .blockitem_two .box-group .bb {
    flex-direction: column;
    width: 100%;
  }

  .block_four .blockitem_two .box-group .bbb .boxe {
    width: 100%;
    height: clamp(650px, 35vw, 800px);
  }

  .block_five .blockitem_one .info {
    margin-top: 2rem;
    text-align: center;
    align-items: center;
  }

  .block_five .blockitem_one .info h1 {
    text-align: center;
    align-items: center;
  }

  .block_five .blockitem_one .info p {
    text-align: center;
    align-items: center;
  }

  .block_five .blockitem_one .details .low {
    max-width: 100%;
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .block_five .blockitem_one .details .low .blue {
    width: 80%;
    height: 30px;
    background-color: rgba(61, 178, 255, 1);
  }

  .block_five .blockitem_one .details .high {
    max-width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .block_five .blockitem_one .details {
    margin-bottom: 20px;
  }

  .block_five .blockitem_one .details .high .blue {
    width: 90%;
    height: 30px;
    background-color: rgba(61, 178, 255, 1);
  }

  .block_five .blockitem_one .video {
    max-width: 450px;
    width: 100%;
    height: 370px;
    transform: translateX(0) translateY(0);
  }

  .block_six .blockitem_one .card {
    width: 100%;
    padding: 15px;
  }

  .block_six .blockitem_one .stars {
    font-size: 1rem;
  }

  .block_six .blockitem_one .name {
    font-size: 0.9rem;
  }

  .block_six .blockitem_one .tagline {
    font-size: 0.55rem;
  }

  .block_seven .blockitem_one .inputs input {
    margin-right: 20px;
    min-width: 50px;
  }
}
