@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(1rem, 5vw, 5rem);
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.block_one .blockitem_one .board .links a:hover {
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(17%)
    hue-rotate(4deg) brightness(106%) contrast(100%);
  cursor: pointer;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.block_one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.block_one .blockitem_one {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.65);
  padding-bottom: 180px;
}

.block_one .blockitem_one .board {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 3rem;
}

.block_one .blockitem_one .info {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.block_one .blockitem_one .align {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.block_one .blockitem_one .align p {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.block_one .blockitem_one .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-height: 4.6rem;
  height: auto;
  background-color: white;
  padding-left: 1rem;
  position: relative;
}

.align a {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 0;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  display: flex;
  align-items: center;
  height: auto;
  padding: clamp(0.5rem, 3vw, 1.8rem) 15px;
  text-decoration: none;
  color: #333;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.2rem, 2vw, 1rem);
  border-radius: 0;
  transition: 0.3s;
}

.nav a:hover {
  background: #3fa9ff;
  color: white;
}

button {
  border: none;
  width: clamp(5rem, 10vw, 8rem);
  height: 3rem;
  background-color: rgba(61, 178, 255, 0.8);
  color: white;
  margin: 0.5rem;
  cursor: pointer;
}

.block_one .blockitem_two {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  gap: 2rem;
}

.menu-icon {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(61, 178, 255, 0.8);
  padding: 0.5rem;
}

.menu-icon .line {
  width: 25px;
  height: 3px;
  background: white;
  margin: 3px 0;
  transition: 0.3s;
}

.menu {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.menu .nav {
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.menu .nav a {
  padding: 0.1rem;
  width: 100%;
  font-size: clamp(0.2rem, 3vw, 0.7rem);
  text-align: left;
}

.menu .nav a:hover {
  background: #3fa9ff;
  color: white;
}

.blockitem_three {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hands {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
}

.blockitem_three p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 0.8);
  text-align: start;
}

.blockitem_three .hand img {
  width: 75px;
  height: 52px;
}

.blockitem_three .hand h4 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0%;
}

.blockitem_three .hand {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 300px;
  gap: 2rem;
}

.blockitem_three .hand .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blockitem_three .box input {
  width: 250px;
  height: 70px;
  outline: none;
  background-color: rgb(92, 190, 255);
  text-align: start;
  color: white;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.blockitem_three .box .inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.blockitem_three .box #service {
  width: 250px;
  height: 70px;
  outline: none;
  background-color: rgb(92, 190, 255);
  text-align: start;
  color: white;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.6);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  background-color: #fff;
  background-image: url(icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 15px;
  cursor: pointer;
}

.box {
  width: 700px;
  height: auto;
  background-color: rgba(61, 178, 255, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-120px);
  gap: 1rem;
  padding: 2rem 0;
}

#message {
  margin-top: 0.5rem;
}

.blockitem_three .box button {
  width: 10rem;
  height: 3rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(61, 178, 255, 1);
}

.block_two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_two .blockitem_one {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.block_two .blockitem_one .board .vid {
  max-width: clamp(320px, 45vw, 500px);
  width: 100%;
  height: 510px;
  background-color: rgba(196, 196, 196, 1);
}

.block_two .blockitem_one .board .video {
  max-width: clamp(320px, 45vw, 500px);
  width: 100%;
  height: 510px;
  background-color: rgb(233, 231, 231);
  transform: translateX(200px) translateY(-350px);
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(200px, -350px);
  transition:
    transform 0.8s ease,
    width 0.8s ease,
    height 0.8s ease;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block_two .blockitem_one .board .video .play {
  background-color: rgba(61, 178, 255, 1);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.block_two .blockitem_one .info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(30px, 1.2vw, 47px);
  color: black;
  text-align: start;
}

.block_two .blockitem_one .info {
  display: flex;
  flex-direction: column;
  max-width: clamp(280px, 35vw, 900px);
  flex-shrink: 1;
  text-align: flex-start;
  gap: 4rem;
}

.block_two .blockitem_one .info span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 15%;
  color: rgba(61, 178, 255, 1);
}

.block_two .blockitem_one .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: clamp(22px, 2vw, 30px);
  letter-spacing: 0%;
  color: rgba(110, 110, 110, 1);
  text-align: start;
}

.block_two .blockitem_one .info .marks {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
}

.block_two .blockitem_one .info .mark {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 17px);
  color: rgba(110, 110, 110, 1);
}

.block_two .blockitem_one .info .gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block_two .blockitem_one .info .marks .img {
  width: 20px;
  height: 23px;
}

.block_two .blockitem_one .info .details p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.block_two .blockitem_one .info .details {
  background-color: rgb(233, 231, 231);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  border-left: 10px solid rgba(61, 178, 255, 1);
}

@media (max-width: 1024px) {
  .block_one {
    width: 100%;
  }

  .block_one .blockitem_one .about {
    width: 90%;
    padding-left: 0.5rem;
  }

  .block_one .blockitem_two {
    width: 70%;
    margin-top: 8rem;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.95rem;
  }

  .blockitem_three {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .box {
    width: 100%;
    transform: translateY(-80px);
  }

  .blockitem_three .box button {
    margin: 0;
  }

  .hands {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .block_two .blockitem_one {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .block_two .blockitem_one .board .vid {
    max-width: 500px;
    width: 100%;
    height: 370px;
  }

  .block_two .blockitem_one .board .video {
    max-width: 500px;
    width: 100%;
    height: 370px;
    transform: translateX(250px) translateY(-300px);
  }

  .block_two .blockitem_one .info {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .block_one .blockitem_one .links {
    display: none;
  }

  .blockitem_three .box .inputs {
    flex-direction: column;
    align-items: center;
  }

  .block_one .blockitem_one .info {
    display: none;
  }

  .block_one {
    width: 100%;
  }
  .block_one .blockitem_two {
    width: 90%;
    margin-top: 5rem;
  }

  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 0.85rem;
    line-height: 24px;
  }

  .nav a {
    padding: 1.5rem 10px;
  }

  .hands {
    flex-direction: column;
    gap: 2rem;
  }

  .block_two .blockitem_one .board .vid {
    max-width: 450px;
    width: 100%;
    height: 370px;
  }

  .block_two .blockitem_one .board .video {
    max-width: 450px;
    width: 100%;
    height: 370px;
    transform: translateX(20px) translateY(-350px);
  }

  .block_two .blockitem_one .info .marks {
    gap: 1rem;
    flex-direction: column;
  }
}
